{{ define "main" }}

<style>
  ol {
    font-size : 20pt;
  }
  li a {
    color: black;
    text-decoration: none;
    border-bottom: 2px dotted lightskyblue;
  }


</style>

  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="">
      <ol>
      {{ range sort site.RegularPages "File.Path" }}
        <li class="">
          {{ $heading := index (split .Content "</h1>") 0 }}
            <a href="{{ .RelPermalink }}">
              {{ $heading | plainify }}
            </a>
        </li>  
      {{ end }}
    </ol>
    </section>
  </article>
{{ end }}
